@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap");

* {
  font-family: "Baloo Thambi 2";
}

.input-inline {
  border: none;
  outline: none !important;
  padding: 0;
  height: 1.5rem;
  vertical-align: baseline;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.toast-container {
  min-height: 2.5rem;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}
